.footer {
  background: #6278f7;
  color: #fff;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer img {
    margin-bottom: 20px;
  }

  .footer ul {
    margin-bottom: 20px;
  }
}
